
StudyIt/obj/Debug/net6.0/StudyIt.assets.cache
StudyIt/obj/Debug/net6.0/StudyIt.GeneratedMSBuildEditorConfig.editorconfig
StudyIt/bin/Debug/net6.0/StudyIt.pdb
StudyIt/bin/Debug/net6.0/StudyIt.dll
StudyIt/obj/Debug/net6.0/ref/StudyIt.dll
StudyIt/obj/Debug/net6.0/refint/StudyIt.dll
StudyIt/obj/Debug/net6.0/StudyIt.assets.cache
StudyIt/obj/Debug/net6.0/StudyIt.dll
StudyIt/obj/Debug/net6.0/StudyIt.GeneratedMSBuildEditorConfig.editorconfig
StudyIt/obj/Debug/net6.0/StudyIt.pdb
StudyIt/obj/staticwebassets.pack.sentinel
